body {
    background-color: #eee;
}

#container {
    width: 600px;
    margin: auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#sketchpad {
    background-color: white;
    width: 600px;
    height: 600px;
    margin: auto;
}

.row {
    display: flex;
}

.square {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    background-color: black;

}