body {
    background-color: black;
}

#container {
    text-align: center;
}

#sketchpad {
    width: 600px;
    height: 600px;
    margin: auto;
    line-height: 0;
}

.square {
    display: inline-block;
    background-color: #bbb;
    margin: 0;
    padding: 0;
    border: 0;
}

.drawn {
    background-color: green;
}